@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #E1B401;
    --cor2: #242536;
    --cor3: #292b3f;
}

body {
    background: fixed darkgrey url(images/mountais2.jpg) top center no-repeat;
    background-size: cover;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

div#espaco {
    padding: 10px;
}

header {
    padding: 20px;
}

header > img {
    margin: auto;
    display: block;
    width: 350px;
}

main {
    background-color: var(--cor3);
    box-shadow: 0px 0px 15px black;
    border-top: 2px solid #E1B401;
    border-radius: 0px 0px;
    max-width: 1500px;
    margin: auto;
}

article {
    background-color: var(--cor2);
    border-radius: 5px;
    border: 2px solid #E1B401;
    margin: auto;
    padding: 30px;
    height: 50px;
    max-width: 1400px;
    border-radius: px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 15px black;
}

article > h1 {
    font-weight: 400;
}

article > p > a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

article > p > a:hover {
    text-decoration: underline;
}