@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #E1B401;
    --cor2: #242536;
    --cor3: #292b3f;
}

body {
    background: fixed darkgrey url(images/mountais2.jpg) top center no-repeat;
    background-size: cover;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #E1B401;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
    color: white;
}

div#espaco {
    padding: 20px;
}

header {
    padding: 20px;
}

header > img {
    margin: auto;
    display: block;
    width: 350px;
}

main {
    background-color: var(--cor3);
    box-shadow: 0px 0px 15px black;
    border-top: 2px solid #E1B401;
    border-radius: 0px 0px;
    max-width: 1500px;
    margin: auto;
}

article {
    background-color: var(--cor2);
    border-radius: 5px;
    border: 2px solid #E1B401;
    margin: 0px 20px 0px 20px;
    padding: 30px;
    max-width: 1400px;
    border-radius: px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 15px black;
}

article > h1 {
    font-weight: 300;
}

section {
    background-color: var(--cor2);
    margin: 40px 20px;
    color: white;
    border-radius: 5px;
    border: 2px solid #E1B401;
    box-shadow: 0px 0px 10px black;
}

section#servidor {
    display: inline-block;
    max-width: 1152px;
}

section#servidor > h2 {
    padding-top: 10px;
    text-indent: 20px;
}

section#servidor > p {
    margin: 10px 20px 10px 20px;
}

section#servidor > a {
    display: block;
    text-align: center;
}

section#servidor > a > img {    
    width: 264px;
}

section#servidor > a > img:hover { 
    transition: 0.5s;   
    filter: drop-shadow(0px 0px 8px black);
   
}

section#membros {
    display: inline-block;
    position: absolute;
    width: 280px;
    margin: 40px 20px 20px 0px;
}

section#membros > h2 {
    padding: 10px 20px 20px 20px;
}

section#membros > ul {
    list-style-position: inside;
    padding: 0px 20px 20px 20px;
}

section#curiosidades {
    margin: 0px 20px;
}

section#curiosidades > h2 {
    padding-top: 10px;
    text-indent: 20px;
}

section#curiosidades > ul {
    padding: 10px 20px 20px 20px;
    list-style-position: inside;
}

section#video {
    display: inline-block;
    max-width: 704px;
}

section#video > h2 {
    padding: 10px 20px 10px 20px;
}

section#video > video {
    border: 2px #E1B401 solid;
    margin: 0px 20px 20px 20px;
    width: 90%;
}

section#imagem {
    display: inline-block;
    max-width: 704px;
}

section#imagem > h2 {
    padding: 10px 20px 10px 20px;
}

section#imagem > img {
    border: 2px #E1B401 solid;
    margin: 0px 20px 20px 20px;
    width: 90%;
    filter: blur(15px);
}

section#imagem > img:hover {
    transition: 0.5s;
    filter: none;
}

@media screen and (max-width: 1516px) {
    section#servidor {
        display: block;
        max-width: 1500px;
    }

    section#membros {
        display: block;
        margin: auto;
        position: relative;
        width: 400px;
        text-align: center;
    }

    section#membros > ul {
        display: inline-block;
        text-align: left;
        columns: 2;
    }
    
    section#curiosidades {
        margin-top: 40px;
    }

    section#imagem {
        display: block;
        text-align: center;
        margin: 40px auto 0px;
    }

    section#video {
        display: block;
        text-align: center;
        margin: 40px auto;
    }
}

@media screen and (max-width: 924px) {

    section#servidor > h2 {
        text-align: center;
        text-indent: 0px;
    }

    section#curiosidades {
        text-align: center;
    }

    section#curiosidades > ul {
        text-align: left;
    }

    section#curiosidades > ul > li {
        padding: 8px;
    }
}

@media screen and (max-width: 765px) {

    section#video {
        margin: 40px 20px 20px 20px;
    }

    section#imagem {
        margin: 40px 20px 0px 20px;
    }
}

@media screen and (max-width: 461px) {

    header {
        margin: 20px;
        padding: 0px;
    }

    header > img {
        margin: 0px 27px;
    }
    
    main {
        width: 444px;
    }

    section#membros {
        margin: 40px 20px 20px 20px;
    }

    article {
        width: 340px;
    }

    section#servidor {
        width: 400px;
    }

    section#curiosidades {
        width: 400px;
    }

    section#video {
        width:400px;
    }

    section#imagem {
        width: 400px;
    }

}

